
@use "../utils/variables" as *;

.cards{
    width:85%;
    max-width:70rem;
    margin:auto;
    &__card{
        width:100%;
        display:flex;
        justify-items: center;
        margin:1rem;
    }
    &-bg{
        background-color: $primary-gray;
    }
}