
@use "../utils/variables" as *;

.cards{
    width:85%;
    max-width:70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    &__img{
        width:5rem;
        border-radius:50%;
        margin-right:.5rem;    
    }
    &__card{
        width:100%;
        display:flex;
        justify-items: center;
        margin:1rem 0;
        padding:.5rem;
        border-radius:1rem;
        background-color: $title-white;
    }
}