$primary: #0C6C4A;
$secondary: #13DC94;
$button: #CD1637;
$title_primary-white: #F5F5F5; 
$title_secondary-white:#FFFFFF;
$text-white: #EFEFEF;
$black: #000000;
$primary-gray: #7B7B7B;
$secondary-gray: #D9D9D9;