:popover-open{
    margin:50% 25%;
    transform: translateY(-50%);
    width:15rem;
    padding:2rem;
    &::backdrop{
        width: 100vw;
        height:100vh;
        background: rgba(43, 192,228, .5);
    }
}

.modal{
    &-closed{
        position:absolute;
        border-radius:50%;
        top:.5rem;
        right:.5rem;
        background: rgba(43, 192,228);
        color:white;
    }
}