:popover-open{
    margin:50% 25%;
    transform: translateY(-100%);
    width:15rem;
    padding:2rem;
    &::backdrop{
        width: 100vw;
        height:100vh;
        background: rgba(43, 192,228, .5);
    }
}

.modal{
    position:relative;
    &-closed{
        top:.5rem;
        right:.5rem;
    }
}